google-genai
beautifulsoup4
chromadb
pypdf
numpy
python-dotenv
Pillow
prompt_toolkit
requests
textual
scikit-learn
google-api-python-client
google-auth-httplib2
google-auth
langchain
langchain-community
langchain-core
langchain-google-genai
sentence-transformers
ipython
